{
    "openapi": "3.0.2",
    "info": {
        "title": "0CodeKit API",
        "description": "The API documentation for 0CodeKit, a low- and no-code platform for automation using Make, Zapier or n8n.",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://v2.1saas.co",
            "description": "The main production server."
        }
    ],
    "paths": {
        "/up": {
            "get": {
                "tags": [
                    "Miscellaneous"
                ],
                "summary": "Check health.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "status"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/detectadultcontent": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect adult content.",
                "description": "Check if the content is appropriate for all audiences.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "imageUrl": {
                                        "description": "The URL of the image to be checked.",
                                        "example": "https://example.com/image.jpg",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "imageUrl"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/picturetextrecognition": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect text in an image.",
                "description": "Detects text in an image using the Azure Computer Vision API.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com.",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com.",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "imageUrl": {
                                        "description": "The URL of the image to analyze.",
                                        "example": "https://example.com/image.jpg",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "imageUrl"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "recognizedTexts": {
                                            "description": "List of recognized text strings in the image.",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "recognizedTexts"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/entitydetection": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Text Entity Detection.",
                "description": "Identities Entities From Input Text.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "text": {
                                        "description": "Text for entity detection.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "text"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "detections": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "text": {
                                                        "type": "string"
                                                    },
                                                    "category": {
                                                        "type": "string"
                                                    },
                                                    "offset": {
                                                        "type": "number"
                                                    },
                                                    "length": {
                                                        "type": "number"
                                                    },
                                                    "confidenceScore": {
                                                        "type": "number"
                                                    }
                                                },
                                                "required": [
                                                    "text",
                                                    "category",
                                                    "offset",
                                                    "length",
                                                    "confidenceScore"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "detections"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/removebg": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Remove image background.",
                "description": "Remove background from image url or buffer.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string"
                                    },
                                    "buffer": {
                                        "type": "string"
                                    },
                                    "getAsUrl": {
                                        "type": "boolean"
                                    },
                                    "fileName": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "getAsUrl"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/detectbrand": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect brand",
                "description": "Detect brand from given image.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "imageUrl": {
                                        "description": "Image for brand detection.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "imageUrl"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "brands": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "brands"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/generatepythoncode": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Generate python code.",
                "description": "Generate python code based on provided prompt.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prompt": {
                                        "description": "Prompt to generate python code.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "prompt"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "code"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/detectcolor": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect color.",
                "description": "Detect color from given image.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "imageUrl": {
                                        "description": "Image for color detection.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "imageUrl"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/toolongtoread": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Too Long To Read",
                "description": "Creates a summary of the given text.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prompt": {
                                        "description": "The text to be summarized.",
                                        "example": "Once upon a time, in a far away land, there lived a young girl who was full of dreams and aspirations. She was passionate about exploring the world and discovering all its secrets. She wanted to see the wonders of the world, to meet new people, to learn new things, and to experience life in all its glory. As a young girl, she often thought of what it would be like to journey to exotic places, to explore the unknown and to find her place in the world. She wanted to be free to make her own decisions, to choose her own destiny, and to be independent. ne day, she decided she was ready to embark on her quest. She packed her bags, said goodbye to her family, and set off on her travels. She went to places she had only dreamed of, and experienced things she had never imagined. She met people from all walks of life, made new friends, and experienced new cultures. She explored the great outdoors and embraced nature in all its beauty. She tried new foods, and found her favorite cuisines. Through it all, she found her own path and discovered her true purpose in life.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "prompt"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "description": "The ID of the generated content.",
                                                    "example": "cmpl-2iZ3t9nGQ4aJ7Qb4Q7Xq8Zn5",
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "description": "The summarized text.",
                                                    "example": "A young girl with dreams of exploring the world and experiencing life's wonders embarks on a journey to exotic places. She meets people from different cultures, tries new foods, and enjoys nature's beauty. Throughout her travels, she finds her own path and discovers her true purpose in life.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "data"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "result"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/languagedetection": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect language.",
                "description": "Detect language of given text.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "text": {
                                        "description": "Text for language detection.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "text"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "iso6391Name": {
                                            "type": "string"
                                        },
                                        "confidenceScore": {
                                            "type": "number"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "iso6391Name",
                                        "confidenceScore"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/transcribe": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Transcribe audio.",
                "description": "Transcribe an audio file to text. This supports the following file types: `flac`, `m4a`, `mp3`, `mp4`, `mpeg`, `mpga`, `oga`, `ogg`, `wav`, `webm`. The maximum file size is 25MB.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "description": "The URL to the audio file.",
                                        "example": "https://www.pacdv.com/sounds/voices/am-i-totally-screwed-or.wav",
                                        "type": "string"
                                    },
                                    "buffer": {
                                        "description": "The Base64-encoded audio file. Can be provided instead of `url`.",
                                        "type": "string"
                                    },
                                    "lang": {
                                        "description": "The audio language. Default is `en`.",
                                        "example": "en",
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "text": {
                                            "description": "The transcription result.",
                                            "example": "Ladies and gentlemen, am I totally screwed, or what?",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "text"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/pictureobjectrecognition": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect labels in an image.",
                "description": "Detects labels in an image using the Google Vision API.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "imageUrl": {
                                        "description": "The URL of the image to analyze.",
                                        "example": "https://example.com/image.jpg",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "imageUrl"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "recognizedLabels": {
                                            "description": "List of recognized labels in the image.",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "recognizedLabels"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/generateimage": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Generate an image.",
                "description": "Generate an image based on prompt.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Size of the output image.",
                                "type": "object",
                                "properties": {
                                    "prompt": {
                                        "description": "Prompt to generate image.",
                                        "type": "string"
                                    },
                                    "n": {
                                        "description": "Number of output image's to be generated.",
                                        "type": "number",
                                        "maximum": 10
                                    },
                                    "size": {
                                        "type": "string",
                                        "enum": [
                                            "256x256",
                                            "512x512",
                                            "1024x1024",
                                            "1024x1024",
                                            "1792x1024",
                                            "1024x1792"
                                        ]
                                    }
                                },
                                "required": [
                                    "prompt",
                                    "n",
                                    "size"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number"
                                        },
                                        "image": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "url": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "image"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/extractcontactinformation": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Extract contact information.",
                "description": "Extract contact information from given prompt.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prompt": {
                                        "description": "Prompt for contact info extraction.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "prompt"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {}
                                                    ]
                                                },
                                                "phone": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {}
                                                    ]
                                                },
                                                "email": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {}
                                                    ]
                                                },
                                                "address": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {}
                                                    ]
                                                },
                                                "website": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {}
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "phone",
                                                "email",
                                                "address",
                                                "website"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/generatejavascriptcode": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Generate javascript code.",
                "description": "Generate javascript code based on provided prompt.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prompt": {
                                        "description": "Prompt to generate javascript code.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "prompt"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "code"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/mooddetection": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect mood.",
                "description": "Detect mood from given text.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "text": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "text"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "moodOverall": {
                                            "type": "string"
                                        },
                                        "moodScore": {
                                            "type": "object",
                                            "properties": {
                                                "positive": {
                                                    "type": "number"
                                                },
                                                "neutral": {
                                                    "type": "number"
                                                },
                                                "negative": {
                                                    "type": "number"
                                                }
                                            },
                                            "required": [
                                                "positive",
                                                "neutral",
                                                "negative"
                                            ]
                                        },
                                        "moodPerSentence": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "mood": {
                                                        "type": "string"
                                                    },
                                                    "text": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "mood",
                                                    "text"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "moodOverall",
                                        "moodScore",
                                        "moodPerSentence"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/detectface": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect face.",
                "description": "Detect face from given image.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "imageUrl": {
                                        "description": "Image for face detection.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "imageUrl"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "totalFaces": {
                                            "type": "number"
                                        },
                                        "facesPosition": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "left": {
                                                        "type": "number"
                                                    },
                                                    "top": {
                                                        "type": "number"
                                                    },
                                                    "width": {
                                                        "type": "number"
                                                    },
                                                    "height": {
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "totalFaces",
                                        "facesPosition"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/pdfocr": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "PDF Optical Character Recognition.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com.",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com.",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "pdfUrl": {
                                        "description": "PDF URL.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "pdfUrl"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "recognizedText": {
                                            "description": "The text that was recognized in the PDF.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "recognizedText"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/detectemailtype": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Detect email type.",
                "description": "Detect email type from provided subject and body.ß",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "subject": {
                                        "description": "Subject of email.",
                                        "type": "string"
                                    },
                                    "body": {
                                        "description": "Body of email.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "subject",
                                    "body"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "type"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/checkcontentpolicy": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Check content policy.",
                "description": "Check if the content is appropriate to be posted on the internet.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prompt": {
                                        "description": "The text containing the content to be checked.",
                                        "example": "Hello world!",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "prompt"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the content.",
                                            "example": "cmpl-2iZ3t9nGQ4aJ7Qb4Q7Xq8Zn5",
                                            "type": "string"
                                        },
                                        "safe": {
                                            "description": "Boolean value indicating if the content is safe.",
                                            "example": true,
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "description": "The message containing the result of the content check.",
                                            "example": "Content is safe.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "safe",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ai/translate": {
            "post": {
                "tags": [
                    "AI"
                ],
                "summary": "Translate text to a specified language.",
                "description": "Translates the provided text into the specified target language using Google Translate API.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "text": {
                                        "description": "The text to be translated.",
                                        "example": "Hello, world!",
                                        "type": "string"
                                    },
                                    "resultLang": {
                                        "description": "The target language code to translate the text into.",
                                        "example": "es",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "text",
                                    "resultLang"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "translation": {
                                            "anyOf": [
                                                {
                                                    "description": "The translated text.",
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "description": "The translated text.",
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "translation"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/crypto/hash": {
            "post": {
                "tags": [
                    "Crypto"
                ],
                "summary": "Hash a message.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "hashType": {
                                        "type": "string",
                                        "enum": [
                                            "MD5",
                                            "SHA1",
                                            "SHA224",
                                            "SHA256",
                                            "SHA3",
                                            "SHA384",
                                            "SHA512",
                                            "RIPEMD160",
                                            "HmacMD5",
                                            "HmacSHA1",
                                            "HmacSHA224",
                                            "HmacSHA256",
                                            "HmacSHA3",
                                            "HmacSHA384",
                                            "HmacSHA512",
                                            "HmacRIPEMD160"
                                        ]
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "secretKey": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "hashType",
                                    "message"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "hashedText": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "hashedText"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/crypto/decrypt": {
            "post": {
                "tags": [
                    "Crypto"
                ],
                "summary": "Decrypt ciphertext.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "cryptoType": {
                                        "type": "string",
                                        "enum": [
                                            "AES",
                                            "DES",
                                            "TripleDES",
                                            "Rabbit",
                                            "RC4",
                                            "RC4Drop"
                                        ]
                                    },
                                    "ciphertext": {
                                        "description": "The ciphertext.",
                                        "type": "string"
                                    },
                                    "secretKey": {
                                        "description": "The encryption key.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "cryptoType",
                                    "ciphertext",
                                    "secretKey"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "decryptedText": {
                                            "description": "The plaintext.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "decryptedText"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/crypto/encrypt": {
            "post": {
                "tags": [
                    "Crypto"
                ],
                "summary": "Encrypt plaintext.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "cryptoType": {
                                        "type": "string",
                                        "enum": [
                                            "AES",
                                            "DES",
                                            "TripleDES",
                                            "Rabbit",
                                            "RC4",
                                            "RC4Drop"
                                        ]
                                    },
                                    "message": {
                                        "description": "The plaintext.",
                                        "type": "string"
                                    },
                                    "secretKey": {
                                        "description": "The encryption key.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "cryptoType",
                                    "message",
                                    "secretKey"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "encryptedText": {
                                            "description": "The ciphertext.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "encryptedText"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "number"
                                        },
                                        "errorMessage": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calculate/geodistance-v2": {
            "post": {
                "tags": [
                    "Calculate"
                ],
                "summary": "Calculate geographical distance.",
                "description": "Returns the distance between a start and end point. The distance is calculated using a specific mode of travel, which can influence the route taken and is also used to estimate the amount of time it takes to travel.",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "header",
                        "description": "The API key that can be retrieved from 0codekit.com",
                        "required": true,
                        "schema": {
                            "description": "The API key that can be retrieved from 0codekit.com",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "startPoint": {
                                        "description": "The start point.",
                                        "example": "Flensburg",
                                        "type": "string"
                                    },
                                    "endPoint": {
                                        "description": "The end point.",
                                        "example": "Istanbul",
                                        "type": "string"
                                    },
                                    "mode": {
                                        "description": "The mode of travel.",
                                        "example": "walking",
                                        "type": "string",
                                        "enum": [
                                            "driving",
                                            "walking",
                                            "bicycling",
                                            "transit"
                                        ]
                                    }
                                },
                                "required": [
                                    "startPoint",
                                    "endPoint",
                                    "mode"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "distanceInKM": {
                                            "description": "The distance between start and end point in kilometers when traveling.",
                                            "type": "number"
                                        },
                                        "duration": {
                                            "description": "The estimated amount of time it takes to travel from start to end point.",
                                            "type": "object",
                                            "properties": {
                                                "hours": {
                                                    "description": "The number of hours",
                                                    "type": "number"
                                                },
                                                "minutes": {
                                                    "description": "The number of minutes",
                                                    "type": "number"
                                                }
                                            },
                                            "required": [
                                                "hours",
                                                "minutes"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "distanceInKM",
                                        "duration"
                                    ]
[...]
